
@font-face{
    font-family: atlantic;
    src:url('fonts/Atlantic Bentley.ttf');
}

body {
    /* background-color:#FFFFFF ; */
    background-image: url("../img/graytexture.jpg");
    background-size: 100%;
}
h1 {
    color: #FFFFFF;
    text-align: center;
}

#myprofileTitle {
    font-family: atlantic;
    font-size: 50px;
}

#poemContainer {
    background-color: white;
    padding: 20px;
    width: auto;
    box-shadow: 10px 10px 5px #888888;
    margin: 0px 0px 30px 30px;
    border-radius: 5px;
    height: 100%;
}

#myPoemsList {
    display: inline-block;
}

#poemTitle {
    font-family: atlantic;
    font-size: 30px;
}

#poemTitleHome {
    font-family: atlantic;
    font-size: 50px;
}

#sidebar {
    background-image: url("../img/lumapaper.jpg");
    background-size: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

p {
    font-family: lucida console;
    font-size: 20px;
}

.modal-custom > .modal-heading {
  color: #333;
  text-align: center; 
  background-color: #96858F;
  border-color: #ddd;
}

.modal-custom{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}

.btn-custom {
  color: #fff;
  background-color: #96858F;
  border-color: #6D7993;
}

.modal-header {
  background-color: #96858F;
  color: #ffffff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom{
  color: #FFFFFF;
  background-color: #96858F;
  border-color: #6D7993;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled.focus,
.btn-custom[disabled].focus,
fieldset[disabled] .btn-custom.focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #96858F;
  border-color: #6D7993;
}
.btn-custom .badge {
  color: #fff;
  background-color: #96858F;
}

  .bg-1 { 
     /* background-image: url="{{ asset('/img/myprofile.jpg')}}"; */
  background-color: #96858F;
    margin: 40px;
    border-radius: 10px;
  }

 
/* 

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1180px;
    height: 220px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 400px;
    height:200px;
    margin: 10px;
}
.flex-item img{
    width: 20%;
    height: auto;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
} */

