
.navbar-custom1{
    background-color: #6D7993;
}

.navbar-brand{
    color: #D5D5D5;

}

li a {
    color: #D5D5D5;
}
/* ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
   
} */

/* li {
    float: left;
}

li:last-child {
    border-right: none;
}

}

li a:hover:not(.active) {
    background-color: #a2d4ab;
    color: white;
}
 */
