<!DOCTYPE html>
<html>
  <body style="background: black;">
    {%block body%}
    <link href="{{ asset ('bootstrap/css/bootstrap.css')}}" rel= "stylesheet"/>
    <script type="text/javascript" src="{{ asset ('bootstrap/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('bootstrap/js/bootstrap.js')}}"></script>
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="{{ asset ('images/chicks.jpg')}}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{ asset ('images/chicks2.jpg')}}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{ asset ('images/chicks3.jpg')}}" alt="Third slide">
        </div>
      </div>
       <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>  
    {%endblock%}
    </body>
</html>
