{% extends 'in_base.html.twig'%} {%block body%}
<div class="">
  <div class="row profile">
    <div class="col-md-2">
      <div id="sidebar" class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="{{asset('img/myprofile.jpg')}}" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ name|title() }}
          </div>
          <div class="profile-usertitle-job">
            Poem Writter
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <center>
          <button type="button" data-toggle="modal" data-target="#createPoem" class="btn btn-success btn-sm" style="width: 130px"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Create Poem</button>
          <br><br>
          <a href="/myprofile" class="btn btn-danger btn-sm" style="width: 130px"><span class="glyphicon glyphicon-user"></span>&nbsp;My Profile</a>
          </center>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
							<i class="glyphicon glyphicon-log-out"></i>
							Logout </a>
            </li>
          </ul>
        </div>
         END MENU -->
      </div>
    </div>
    <div class="col-md-10">
      {% if allPoems|length != 0 %}
      <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            {% set num = 1 %} {% for poem in allPoems %} {% if num == 1 %}
            <div class="item active slide" style="margin-top: 20px">

              {% else %}
              <div class="item slide" style="margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                {% endif %} {% set num = num + 1 %}


                <center>
                  <h3 id="poemTitleHome" data-animation="animated bounceInDown" style="color: black">{{poem.title|title()}}</h3>
                  <small>by {{poem.fname}}</small><br><br>
                  
                  {{poem.poem| raw }}
                  
                </center>

              </div>
              {% endfor %}
            </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	            <i class="glyphicon glyphicon-chevron-left" style="color: black;"></i><span class="sr-only">Previous</span>
	        </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	            <i class="glyphicon glyphicon-chevron-right" style="color: black;"></i><span class="sr-only">Next</span>
	        </a>
          </div>
        </div>
      </div>
      {% else %}
      <center>
      <h2>Sorry there are no poems posted yet.</h2>
      </center>
      {% endif %}
    </div>
    {%endblock%}
