{% extends 'base.html.twig' %}

{% block body %}

<body>

<div class="container"> 
<div class="col-md-4">
<h3 id="poemTitle" style="font-size: 100px;">Rhymes</h3>
<i>by TimWilab</i>

<div style="margin-top: 250px;">
Frizzle Joy Rejuso<br>
April Rose Saludario<br>
Roberto Decatoria<br>
John Rommel Hael<br>
Mark Cabrera<br>
Miguel Ambayec
</div>
</div>
<div class="col-md-8">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:100%;">
      <div class="item active">
        <img src="{{ asset ('mgagif/gifforlandingpage.gif')}}" width="1110">
      </div>

      <div class="item">
        <img src="{{ asset ('mgagif/gifagain.gif')}}" width="1110" >
      </div>
    
      <div class="item">
        <img src="{{ asset ('mgagif/gifthethird.gif')}}" width="1110">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>


</body>

{% endblock %}