{% extends 'in_base.html.twig' %} {% block body %}

<h2 id="myprofileTitle" class="text-center">My Profile</h2>

<!-- infos -->
<div class="bg-1 text-center" style="padding: 20px; box-shadow: 10px 10px 5px #888888;">
  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      {% set tmpAct = "" %} {% for act in infos %} {% set tmpAct = act %}
      <img class="img-circle" width="250px" height="250px" src="{{ asset('/img/myprofile.jpg') }}" alt="profile" />
    </div>
    <div class="col-md-8">

      <h1>{{act.getFname()|title()}} {{act.getLname()|title()}}</h1>
      <p>___________________________________</p>
      <h4>{{act.getActEmail()}}</h4>
      <h4>Born on {{act.getBday()|date('M d, Y')}}</h4>
      <h2>"{{act.getBio()}}"</h2>
      {% endfor %}

      <button type="button" class="btn btn-labeled btn-info" data-toggle="modal" data-target="#updatemodal" href="#"><span class="btn-label"><i class="glyphicon glyphicon-pencil"> </i></span>Update</button>
      <button type="button" data-toggle="modal" data-target="#createPoem" class="btn btn-success" style="width: 130px"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Create Poem</button>

    </div>
  </div>
</div>
<!-- infos end -->

<!-- my poems -->

<h2 id="myprofileTitle" class="text-center">My Poems</h2>

{% if mypoems|length == 0 %}
<center>
<h2>Sorry you have no poems yet please create one.</h2>
</center>
{% endif %}

{% for poems in mypoems %}
<div id="myPoemsList">
  
  <div id="poemContainer" class="text-center">
    <a href="/deletePoem/{{ poems.poemId }}"><span class="glyphicon glyphicon-trash pull-right" style="color: red"></span></a>
    <hr>
    <h4 id="poemTitle">{{ poems.title }}</h4>
    <br>
    {{ poems.poem| raw }}
  </div>
</div>
{% endfor %}

<!-- my poems end -->


<!-- Modal -->
<div class="modal fade" id="updatemodal" role="dialog">
  <div class="modal-dialog">
    {{form_start(myprofile)}}
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profile Update</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">First Name:</label>
            <div class="col-sm-9">
              {{ form_row(myprofile.fname, {attr:{'value':tmpAct.getFname()}} ) }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Last Name:</label>
            <div class="col-sm-9">
              {{ form_row(myprofile.lname, {attr:{'value':tmpAct.getLname()}} ) }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Birthdate:</label>
            <div class="col-sm-9">
              {{ form_row(myprofile.bday, {attr:{'value':tmpAct.getBday()|date("Y-m-d")}} ) }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Bio</label>
            <div class="col-sm-9">
              {{form_row(myprofile.bio, {attr : {'placeholder': 'quotes or Intro or Bio about you', 'value':tmpAct.getBio()}} )}}
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <center>
          {{ form_row(myprofile.Save, {attr: {'class':'btn-success'} } ) }}
        </center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
    {{form_end(myprofile)}}

  </div>
</div>
{% endblock %}
