<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Rhymes{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="{{asset('css/bootstrap.css') }}" /> -->
  
  <link rel="stylesheet" href="{{asset('css/headernav.css') }}" />
  <link rel="stylesheet" href="{{asset('css/customcss1.css') }}" />
  
  

  {% endblock %}
 {% block javascripts %}

  <!--<script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
  </script>
{% endblock %}

</head>

<body>

  {% block header %}

  <nav class="navbar navbar-custom1">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <a class="navbar-brand" href="#">Rhymes</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-user" ></span> Register</a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
      </ul>
    </div>
    </div>
  </nav>



  {{form_start(loginForm)}}
  <!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        
        <div class="modal-body">
          {% if login == 1 %}
          <div class="alert alert-danger">
            <b>Log in failed!</b>
          </div>
          <script>
            $("#loginModal").modal("show"); 
          </script>
          {% elseif signup == 2 %}
          <div class="alert alert-success">
            <b>Sign up success!</b>
          </div>
          <script>
            $("#loginModal").modal("show"); 
          </script>
          {% endif %}
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">

                {{form_row(loginForm.actEmail)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10">
                {{form_row(loginForm.actPassword)}}
              </div>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
        <center>{{form_row(loginForm.Login, {attr:{'class':'btn-custom'}} )}}</center>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        
      </div>


    </div>
  </div>
 
  {{form_end(loginForm)}}


  {{form_start(signupForm)}}
  <!-- Modal -->
  <div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign up</h4>
        </div>
        <div class="modal-body">
          {% if signup == 1 %}
          <div class="alert alert-danger">
            <b>Sign up fail!</b>
          </div>
          <script>
            $("#registerModal").modal("show"); 
          </script>
          {% endif %}
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">First Name:</label>
              <div class="col-sm-9">
                {{form_row(signupForm.fname)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Last Name:</label>
              <div class="col-sm-9">
                {{form_row(signupForm.lname)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Birthdate:</label>
              <div class="col-sm-9">
                {{form_row(signupForm.bday)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Email:</label>
              <div class="col-sm-9">
                {{form_row(signupForm.actEmail)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd">Password:</label>
              <div class="col-sm-9">
                {{form_row(signupForm.actPassword)}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd"> Confirm Password:</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="confpwd">
              </div>
            </div>

            <div class="col-sm-12">
              <center>
              {{form_row(signupForm.signup, { attr : {'class':'btn-custom'}} )}}
              </center>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
        
        <div class="modal-footer">
            
          
        </div>
      </div>

    </div>
  </div>
{{form_end(signupForm)}}

	
{% block body %}
{% endblock %}  
</body>
{% endblock %} 
</body>

<script>
  $(document).ready(function(){
    
    $('#signup_signup').click(function(){
      
      var password = $('#signup_actPassword').val();
      var conf = $('#confpwd').val()
      
      if (password != "" || conf != "") {

        if (password != conf) {
          alert("Password and Confirm password doesn't match!");

          $('#signup_actPassword').val('');
          $('#confpwd').val('');
        }
      }
    });
  });
</script>

</html>
