
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rhymes{% endblock %}</title>
       
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!--<link rel="stylesheet" href="{{asset('css/bootstrap.css') }}" />-->
        
        <link rel="stylesheet" href="{{asset('css/headernav.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/design.css') }}">
        <link rel="stylesheet" href="{{asset('css/customcss1.css') }}" />

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('richtext/src/richtext.min.css')}}">

        {% endblock %}
        
    </head> 
     <body>
        
        {% block header %}

<nav class="navbar navbar-custom1">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home">Rhymes</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
      



    
<!-- Modal -->
<div id="createPoem" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Poem</h4>
      </div>
      <div class="modal-body">
        {{form_start(composePoem)}}

        {{form_row(composePoem.title) }}
        {{form_row(composePoem.private) }}
        {{form_row(composePoem.poem, {'attr': {'placeholder':'Write your poem here...', 'class':'content'}}) }}
        <center>{{form_row(composePoem.Post, {'attr':{'class':'btn-danger'}} ) }}</center>

        {{form_end(composePoem)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




{% endblock %}

        {% block body %}
        
        {% endblock %}

        {% block javascripts %}
        
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/js.js') }}"></script>
        <script src="{{ asset('richtext/src/jquery.richtext.min.js') }}"></script>

        <script>
        $(document).ready(function() {
            $('.content').richText();
        });
        </script>
        {% endblock %}
    
</body>

</html>